com.nhlstenden.JabberPoint/src/resources/jabberpoint.dtd

<!--
 Document Type Definition voor jabberpoint.JabberPoint presentatties
 $Id$
 -->
        <!ELEMENT showtitle (#PCDATA)>
        <!ELEMENT presentation (showtitle,slide+)>
        <!ELEMENT title (#PCDATA)>
        <!ELEMENT slide (title, item*)>
        <!ELEMENT item (#PCDATA)>
        <!ATTLIST item kind CDATA #REQUIRED>
        <!ATTLIST item level CDATA #REQUIRED>
